@tailwind base;
@tailwind components;
@tailwind utilities;

/* .navul{
    position: relative;
}
.navul li::before{
    content: '';
    width: fit-content;
    height: 2px ;
    background-color: white;
    position: absolute;
    bottom: 0;
    
    

} */
.coin{
    /* animation-name: blur; */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-play-state: running;

}
.coin-1{
    filter: drop-shadow(0px 0px 15px orange);
    animation-name: shadow;
}.coin-2{
    filter: drop-shadow(0px 0px 15px pink);
    animation-name: shadow2;

}
.coin-3{
    filter: drop-shadow(0px 0px 15px skyblue);
    animation-name: shadow3;

}
.coin-4{
    filter: drop-shadow(0px 0px 15px blue);
    animation-name: shadow4;

}
@keyframes blur {
    0% {
        filter: blur(0px);
    }
  
    100% {
        filter: blur(1px);
        
    }
    
}
@keyframes shadow {
    0% {
        filter: drop-shadow(0px 0px 15px orange);
    }
    100%{
        filter: drop-shadow(0px 0px 55px orange);
    }
    
}
@keyframes shadow2 {
    0% {
        filter: drop-shadow(0px 0px 15px pink);
    }
    100%{
        filter: drop-shadow(0px 0px 55px pink);
    }
    
}
@keyframes shadow3 {
    0% {
        filter: drop-shadow(0px 0px 15px skyblue);
    }
    100%{
        filter: drop-shadow(0px 0px 55px skyblue);
    }
    
}
@keyframes shadow4 {
    0% {
        filter: drop-shadow(0px 0px 15px blue);
    }
    100%{
        filter: drop-shadow(0px 0px 55px blue);
    }
    
}

.fill-1{
    animation-name: fill-1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}
.fill-2{
    animation-name: fill-2;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}
.fill-3{
    animation-name: fill-3;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}
.fill-4{
    animation-name: fill-4;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}
.fill-5{
    animation-name: fill-5;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}
@keyframes fill-1 {
    0% {
        left: -9%;
        top: 4%;
    }
    100% {
        left: -8%;
        top: 3%;
        rotate: -5deg;
    }
    
}
@media  (max-width:640px){
    @keyframes fill-1 {
        0% {
            left: -5%;
            top: 45%;
        }
        100% {
            left: -7%;
            top: 45%;
            rotate: -25deg;
        } 
    }
   
    @keyframes fill-3 {
        0% {
            left: -19%;
            top: 25%;
        }
        100% {
            left: -9%;
            top: 20%;
            rotate: -5deg;
        }
        
    }
  

    
} 


@keyframes fill-3 {
    0% {
        left: -9%;
        top: 30%;
    }
    100% {
        left: -9%;
        top: 35%;
        rotate: -5deg;
    }
    
}
@keyframes fill-2 {
    0% {
        /* left: 5%; */
        /* top: 16%; */
    }
    100% {
        left: 8%;
        top: 18%;
        /* top: 18%; */
        /* rotate: -5deg; */
    }
    
    
}
@keyframes fill-4 {
    0% {
        right: 20%;
        top: 70%;
    }
    100% {
       right: 15%;
       rotate: -3deg;
    }
    
}
@keyframes fill-5 {
    0% {
        right: -15%;
        top: 60%;
    }
    100% {
        right: -14%;
        top: 52%;
        rotate: -9deg;
     
    }
    
}
.ringimg{
    animation-name: ringimg;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes ringimg {

    0% {
        /* transform: rotate(0deg); */
        filter:drop-shadow(0px 0px 10px blue);

    }
    20%{
        filter: saturate(100%);
        /* filter: invert(10); */
        filter:drop-shadow(0px 0px 10px green);

        
    }
    50%{
        filter:contrast(20px);
        scale: 1;
        filter:brightness(1.5);
        filter:drop-shadow(0px 0px 10px yellow);


    }
    100% {
        /* transform: rotate(180deg); */
        filter:drop-shadow(0px 0px 13px white);
        /* filter:hue-rotate(50); */

    }
}
